<div class="blog-list">
  @if (!search()) {
    <app-list-intro [intro]="intro()" fallbackTitle="Blog" />
  } @else {
    <h1>Rezultati pretrage</h1>
  }

  <app-blog-filters-bar [filters]="filters()" [search]="search()" (searchChange)="onSearchChange($event)" />

  @if (loading()) {
    <div class="blog-list__spinner">
      <mat-spinner diameter="40" />
    </div>
  } @else if (posts().length === 0) {
    <p>
      @if (search()) {
        Nema rezultata za "{{ search() }}".
      } @else {
        Trenutno nema objavljenih tekstova.
      }
    </p>
  } @else {
    <p class="blog-list__count">{{ meta()?.total || posts().length }} tekstova</p>

    <div class="blog-list__grid">
      @for (post of posts(); track post.id) {
        <a [routerLink]="['/blog', post.slug]" class="blog-list__card-link">
          <mat-card class="blog-list__card" appearance="outlined">
            <div class="blog-list__media">
              @if (post.slika?.url) {
                <img [src]="post.slika!.url | imageUrl" [alt]="post.slika!.alt || post.naslov" class="blog-list__image" />
              }
              @if (post.istaknut) {
                <mat-chip class="blog-list__badge blog-list__badge--featured" disableRipple>
                  <mat-icon matChipAvatar>star</mat-icon>
                  Izdvojeno
                </mat-chip>
              }
            </div>
            <mat-card-content class="blog-list__body">
              @if (post.kategorije.length) {
                <mat-chip-set class="blog-list__categories">
                  @for (kategorija of post.kategorije.slice(0, 2); track kategorija) {
                    <mat-chip disableRipple>{{ kategorija }}</mat-chip>
                  }
                </mat-chip-set>
              }
              <h3 class="blog-list__title">{{ post.naslov }}</h3>
              <p class="blog-list__meta">{{ post.autor }} &middot; {{ post.datumObjave }} &middot; {{ post.vremeCitanja }}</p>
              <p class="blog-list__excerpt">{{ post.kratakOpis }}</p>
            </mat-card-content>
          </mat-card>
        </a>
      }
    </div>

    @if (meta(); as m) {
      <mat-paginator [length]="m.total" [pageSize]="m.limit" [pageIndex]="m.page - 1" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="onPage($event)" />
    }
  }
</div>
